@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.font-cinzel {
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.font-poppins {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #fff;
  overflow: hidden;
}

.container {
  width: 100vw;
  height: 100vh;
}

.container .slide .item {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  width: 200px;
  height: 300px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border-radius: 20px;
  box-shadow: 0 0 40px 5px #3a3a3aa8;
  transition: 0.5s;
}

.slide .item:nth-child(1),
.slide .item:nth-child(2){
  width: 100vw;
  height: 100vh;
  border-radius: 0;
  box-shadow: 0;
}

.slide .item:nth-child(3){
  left: 55%;

}

.slide .item:nth-child(4){
  left: calc(55% + 220px);

}

.slide .item:nth-child(5){
  left: calc(55% + 440px);
  
}

.slide .item:nth-child(n + 6){
  left: calc(55% + 660px);
  opacity: 0;
}

.item .content {
  position: absolute;
  display: none;
  color: white;
  top: 50%;
  left: 100px;
  transform: translate(0, -50%);
  padding: 50px;
  background: linear-gradient(45deg, #29233181, #29233157);
  border-radius: 30px;
  transition: 1s;
}

.slide .item:nth-child(2) .content{
  display: block;
}

.content .name {
  opacity: 0;
  animation: animate 1s ease-in-out 0.3s forwards;
}

.content .des {
  opacity: 0;
  animation: animate 1s ease-in-out 0.6s forwards;
}

.content button {
  animation: animate 1s ease-in-out 0.9s forwards;
  opacity: 0;
}

@keyframes animate {
  from {
    transform: translate(0, 100px);
    filter: blur(30px);
    opacity: 0;
  }
  to {
    display: block;
    transform: translate(0, 0);
    filter: blur(0);
    opacity: 1;
  }
}

.control-btn {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  bottom: 40px;
}
.control-btn button{
  margin: 0 8px;
}












